
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .container{

  background-color: #141414;
background-image: radial-gradient(at 49% 41%, rgb(49, 51, 46) 0, hsla(26, 91%, 60%, 0) 50%),
radial-gradient(at 6% 14%, rgb(12, 14, 12) 0, hsla(38, 91%, 56%, 0) 50%),
radial-gradient(at 29% 24%, rgb(42, 44, 43) 0, hsla(40, 86%, 67%, 0) 50%),
radial-gradient(at 91% 25%, rgb(20, 22, 21) 0, hsla(13, 88%, 62%, 0) 50%),
radial-gradient(at 27% 95%, rgb(54, 66, 62) 0, hsla(28, 85%, 61%, 0) 50%),
radial-gradient(at 57% 78%, rgb(25, 28, 24) 0, hsla(160, 86%, 60%, 0) 50%),
radial-gradient(at 51% 71%, rgb(25, 25, 23) 0, hsla(75, 86%, 70%, 0) 50%);
} */

.react-calendar {
  width: 350px;
  max-width: 100%;
  /* background: rgb(69, 192, 106); */
  /* border: 1px solid #ffffff; */
  /* font-family: Arial, Helvetica, sans-serif; */
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d18100;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #c3e4ff; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #eae2ff;  
  --gradient-color-4: #b9beff;
}
      


@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=DotGothic16&family=Geostar&family=Geostar+Fill&family=Goldman:wght@400;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,600;0,700;1,100;1,200;1,400;1,500&family=Keania+One&family=Monofett&display=swap');

@font-face {
  font-family: "UPHEAVAl";
  src: url('../public/fonts/upheaval/upheavtt.ttf');
}

@font-face {
  font-family: 'DOGICA';
  src: url('../public/fonts/dogica/dogica.ttf');
}

@font-face {
  font-family: 'KIRBYS';
  src: url('../public/fonts/kirbys/Kirbys.ttf');
} 

@font-face {
  font-family: 'ALDO';
  src: url('../public/fonts/aldo/Aldo\ PC.ttf');
}
@font-face {
  font-family: 'AQUA';
  src: url('../public/fonts/aquarilla/Aquarilla.ttf');
}

@font-face {
  font-family: 'JAP';
  src: url('../public/fonts/javanese/Javanese\ Neu.ttf');
}

/* @font-face {
  font-family: "INTER";
  src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
} */

@font-face {
  font-family: 'CUA';
  src: url('../public/fonts/cuatra/Cuatra-Light.ttf');
}

@font-face {
  font-family: 'CAP';
  src: url('../public/fonts/capicola_sansish/CapicolaSansish.ttf');
}

@font-face {
  font-family: 'PLA';
  src: url('../public/fonts/plagiata/Plagiata.otf');
}

@font-face {
  font-family: 'NEM';
  src: url('../public/fonts/nemesia/Nemesia-regular.ttf');
}

@font-face {
  font-family: 'NIN';
  src: url('../public/fonts/Louis/Louis\ George\ Cafe.ttf');
}

@font-face {
  font-family: 'ROBOT';
  src: url('../public/fonts/reoboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'OBO';
  src: url('../public/fonts/oboto/MADEOkineSansPERSONALUSE-Light.otf');
}

@font-face {
  font-family: 'OBO-B';
  src: url('../public/fonts/oboto/MADEOkineSansPERSONALUSE-Medium.otf');
}

@font-face {
  font-family: 'OBO-L';
  src: url('../public/fonts/oboto/MADEOkineSansPERSONALUSE-Thin.otf');
}

@font-face {
  font-family: 'OBO-X';
  src: url('../public/fonts/oboto/MADEOkineSansPERSONALUSE-Bold.otf');
}

@font-face {
  font-family: 'OBO-N';
  src: url('../public/fonts/N2/n27-regular-webfont.woff');
}

@font-face {
  font-family: 'CHA';
  src: url('../public/fonts/valcon/Vollkorn-Bold.ttf');
}
@font-face {
  font-family: 'LEMON';
  src: url('../public/fonts/lemon/LemonMilkBold-gx2B3.otf');
}

@font-face {
  font-family: 'HOUSE';
  src: url('../public/fonts/house/Housebreak-Extended.ttf');
}

@font-face {
  font-family: 'NUE';
  src: url('../public/fonts/nue/HelveticaNeue\ Medium.ttf');
}

@font-face {
  font-family: 'SATOSHI';
  src: url('../public/fonts/Satoshi-Variable/Satoshi-Variable.ttf');
}

.glass{
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 230, 230, 0.2);
border-radius: 16px  16px 0;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 230, 230, 0.3);
}

*{
  cursor: none;
}

.nylon{
  background-image: url('../images/nylon.png');
  background-size: contain;
}

.nylon2{
  background-image: url('../images/nylon3Alt3.png');
  opacity: 30%;
  background-size: cover;
}



.borderx{
  border-radius: 48% 45% 45% 47% / 45% 45% 50% 51%;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}

body {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: rgb(184, 184, 184) #92400e;   /* scroll thumb and track */ 
}

.earth-1{
  background-image: url('../images/earth4.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.polka{
  background-color: #e5e5f700;
  opacity: 0.8;
  background-image:  radial-gradient(#9c5937 3px, transparent 1.5px), radial-gradient(#9c5937 3px, #e5e5f700 1.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

.polkachild {
  opacity: 1;
}

.testpaper{
  background-image: url('../images/handmade-paper.png');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.textshadow{

text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0,0,0,1);
}

.textshadow2{

text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.custom-cursor{
  /* background-color: #e0611e; */
  /* height: 32px;
  width: 32px; */

  position: fixed;
  left: 0;
  top:0;
  pointer-events: none;
  
}

.triangle-up {
  position: fixed;
  pointer-events: none;
  left: 0;
  top:0;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 32px solid #a1a1aa;
  z-index: 1;

}

/* 
@font-face {
  font-family: 'OBO-T';
  src: url('../public/fonts/oboto/');
} */

.next{
  background-image: url('../images/transparent-square-tiles.png');
  /* background-color: #006edc; */
}

.eggshell{
  background-image: url('../images/shattered-dark.png');
}

.noise{
  background-image: url('../images/eggshellTexture.png')
}


.floor{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='65' height='65' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(23, 82%, 31%, 1)'/><path d='M.5.5v12h12V.5H.5zm13 13v12h12v-12h-12zm-13 13v12h12v-12H.5zm26 13v12h12v-12h-12zm13 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='hsla(23, 77%, 29%, 1)'/><path d='M26.5.5v12h12V.5h-12zm0 13v12h12v-12h-12zm13 13v12h12v-12h-12zm-39 13v12h12v-12H.5zm0 13v12h12v-12H.5z'  stroke-width='1' stroke='none' fill='hsla(23, 75%, 30%, 1)'/><path d='M13.5.5v12h12V.5h-12zm39 13v12h12v-12h-12zm-39 13v12h12v-12h-12zm39 0v12h12v-12h-12zm-26 26v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='hsla(23, 74%, 27%, 1)'/><path d='M52.5.5v12h12V.5h-12zm-13 13v12h12v-12h-12zm0 26v12h12v-12h-12zm13 0v12h12v-12h-12zm-39 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='hsla(23, 76%, 25%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.earth{
  background-image: url('../images/earth5.png');
  background-size: cover;
  opacity: 10%;
}

.apple{
  background-image: url('../images/bulb.png');
  background-size: cover;
  opacity: 10%;
}

.compass{
  background-image: url('../images/pencil_dither_large.jpg');
  background-size: contain;
}

@keyframes bgtransition {
0% {  background-color: #7C2D12;
  opacity: 20%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%237C2D12' width='11' height='11'/%3E%3Crect fill='%237d2e12' x='10' width='11' height='11'/%3E%3Crect fill='%237e2e12' y='10' width='11' height='11'/%3E%3Crect fill='%237f2f12' x='20' width='11' height='11'/%3E%3Crect fill='%23802f12' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23813012' y='20' width='11' height='11'/%3E%3Crect fill='%23823012' x='30' width='11' height='11'/%3E%3Crect fill='%23833112' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23843212' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23853212' y='30' width='11' height='11'/%3E%3Crect fill='%23863312' x='40' width='11' height='11'/%3E%3Crect fill='%23873312' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23883412' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23893512' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%238a3512' y='40' width='11' height='11'/%3E%3Crect fill='%238b3612' x='50' width='11' height='11'/%3E%3Crect fill='%238c3612' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%238d3712' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%238d3812' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%238e3812' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%238f3912' y='50' width='11' height='11'/%3E%3Crect fill='%23903a11' x='60' width='11' height='11'/%3E%3Crect fill='%23913a11' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23923b11' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23933b11' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23943c11' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23953d11' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23963d11' x='70' width='11' height='11'/%3E%3Crect fill='%23973e11' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23983f11' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23993f11' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%239a4010' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%239b4110' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%239c4110' x='80' width='11' height='11'/%3E%3Crect fill='%239d4210' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%239e4310' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%239f4310' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23a0440f' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23a1440f' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23a1450f' x='90' width='11' height='11'/%3E%3Crect fill='%23a2460f' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23a3470f' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23a4470e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23a5480e' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23a6490e' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23a7490e' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23a84a0e' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23a94b0d' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23aa4b0d' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ab4c0d' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ac4d0c' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ad4d0c' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ae4e0c' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23af4f0b' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23af4f0b' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23b0500b' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23b1510a' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23b2520a' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23b35209' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23B45309' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;}

100%{ background-color: #266209;
  opacity: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23266209' width='11' height='11'/%3E%3Crect fill='%232a640f' x='10' width='11' height='11'/%3E%3Crect fill='%232e6714' y='10' width='11' height='11'/%3E%3Crect fill='%23326918' x='20' width='11' height='11'/%3E%3Crect fill='%23366b1c' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23396e20' y='20' width='11' height='11'/%3E%3Crect fill='%233d7024' x='30' width='11' height='11'/%3E%3Crect fill='%23417228' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2344752c' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23487730' y='30' width='11' height='11'/%3E%3Crect fill='%234b7933' x='40' width='11' height='11'/%3E%3Crect fill='%234f7c37' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23527e3b' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%2356803f' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23598342' y='40' width='11' height='11'/%3E%3Crect fill='%235c8546' x='50' width='11' height='11'/%3E%3Crect fill='%2360884a' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23638a4d' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23668c51' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%236a8f55' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%236d9158' y='50' width='11' height='11'/%3E%3Crect fill='%2371945c' x='60' width='11' height='11'/%3E%3Crect fill='%23749660' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23779863' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%237b9b67' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%237e9d6b' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2381a06f' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2385a272' x='70' width='11' height='11'/%3E%3Crect fill='%2388a576' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%238ba77a' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%238fa97e' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2392ac82' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2395ae86' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2399b189' x='80' width='11' height='11'/%3E%3Crect fill='%239cb38d' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23a0b691' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23a3b895' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23a6bb99' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23aabd9d' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23adc0a1' x='90' width='11' height='11'/%3E%3Crect fill='%23b0c2a5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23b4c5a9' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23b7c7ad' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23bbcab1' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23beccb5' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23c2cfb9' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23c5d1bd' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23c8d4c1' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ccd6c5' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23cfd9c9' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23d3dbcd' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23d6ded1' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23dae0d5' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23dde3d9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23e1e5dd' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23e4e8e1' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23e8eae5' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ebedea' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeefee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23F2F2F2' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;}
}

.paperbackground{
animation: bgtransition 3s ease-in-out 0s ;
}

.paperbluev{
  background-color: #173D69;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23173D69' width='11' height='11'/%3E%3Crect fill='%231c406b' x='10' width='11' height='11'/%3E%3Crect fill='%2321426e' y='10' width='11' height='11'/%3E%3Crect fill='%23254570' x='20' width='11' height='11'/%3E%3Crect fill='%23294873' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%232d4a75' y='20' width='11' height='11'/%3E%3Crect fill='%23314d77' x='30' width='11' height='11'/%3E%3Crect fill='%2335507a' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2338537c' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%233c567f' y='30' width='11' height='11'/%3E%3Crect fill='%23405881' x='40' width='11' height='11'/%3E%3Crect fill='%23435b83' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23475e86' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%234a6188' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%234e648b' y='40' width='11' height='11'/%3E%3Crect fill='%2351678d' x='50' width='11' height='11'/%3E%3Crect fill='%23556a90' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23586d92' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%235c7095' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%235f7397' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%2363759a' y='50' width='11' height='11'/%3E%3Crect fill='%2366789c' x='60' width='11' height='11'/%3E%3Crect fill='%236a7b9f' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%236d7fa1' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%237182a4' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%237485a6' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%237888a9' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%237b8bab' x='70' width='11' height='11'/%3E%3Crect fill='%237f8eae' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%238291b0' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%238594b3' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%238997b5' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%238c9ab8' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23909dba' x='80' width='11' height='11'/%3E%3Crect fill='%2393a1bd' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2397a4c0' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%239ba7c2' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%239eaac5' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23a2adc7' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23a5b1ca' x='90' width='11' height='11'/%3E%3Crect fill='%23a9b4cd' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23acb7cf' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23b0bad2' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23b3bed4' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23b7c1d7' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23bbc4da' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23bec7dc' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23c2cbdf' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23c6cee2' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23c9d1e4' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23cdd5e7' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23d0d8ea' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23d4dbec' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23d8dfef' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23dbe2f2' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23dfe5f4' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23e3e9f7' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23e7ecfa' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eaf0fc' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEF3FF' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.papersuccess{
  background-color: #266209;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23266209' width='11' height='11'/%3E%3Crect fill='%232a640f' x='10' width='11' height='11'/%3E%3Crect fill='%232e6714' y='10' width='11' height='11'/%3E%3Crect fill='%23326918' x='20' width='11' height='11'/%3E%3Crect fill='%23366b1c' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23396e20' y='20' width='11' height='11'/%3E%3Crect fill='%233d7024' x='30' width='11' height='11'/%3E%3Crect fill='%23417228' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2344752c' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23487730' y='30' width='11' height='11'/%3E%3Crect fill='%234b7933' x='40' width='11' height='11'/%3E%3Crect fill='%234f7c37' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23527e3b' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%2356803f' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23598342' y='40' width='11' height='11'/%3E%3Crect fill='%235c8546' x='50' width='11' height='11'/%3E%3Crect fill='%2360884a' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23638a4d' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23668c51' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%236a8f55' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%236d9158' y='50' width='11' height='11'/%3E%3Crect fill='%2371945c' x='60' width='11' height='11'/%3E%3Crect fill='%23749660' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23779863' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%237b9b67' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%237e9d6b' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2381a06f' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2385a272' x='70' width='11' height='11'/%3E%3Crect fill='%2388a576' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%238ba77a' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%238fa97e' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2392ac82' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2395ae86' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2399b189' x='80' width='11' height='11'/%3E%3Crect fill='%239cb38d' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23a0b691' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23a3b895' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23a6bb99' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23aabd9d' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23adc0a1' x='90' width='11' height='11'/%3E%3Crect fill='%23b0c2a5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23b4c5a9' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23b7c7ad' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23bbcab1' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23beccb5' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23c2cfb9' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23c5d1bd' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23c8d4c1' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ccd6c5' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23cfd9c9' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23d3dbcd' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23d6ded1' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23dae0d5' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23dde3d9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23e1e5dd' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23e4e8e1' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23e8eae5' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ebedea' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeefee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23F2F2F2' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.paperbrown{
  background-color: #4D290C;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%234D290C' width='11' height='11'/%3E%3Crect fill='%234f2a0c' x='10' width='11' height='11'/%3E%3Crect fill='%23522b0d' y='10' width='11' height='11'/%3E%3Crect fill='%23542d0d' x='20' width='11' height='11'/%3E%3Crect fill='%23572e0d' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23592f0e' y='20' width='11' height='11'/%3E%3Crect fill='%235b300e' x='30' width='11' height='11'/%3E%3Crect fill='%235e310e' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2360320e' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%2363340f' y='30' width='11' height='11'/%3E%3Crect fill='%2365350f' x='40' width='11' height='11'/%3E%3Crect fill='%2368360f' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%236a3710' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%236d3810' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%236f3a10' y='40' width='11' height='11'/%3E%3Crect fill='%23723b10' x='50' width='11' height='11'/%3E%3Crect fill='%23753c11' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23773d11' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%237a3e11' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%237c4011' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%237f4112' y='50' width='11' height='11'/%3E%3Crect fill='%23824212' x='60' width='11' height='11'/%3E%3Crect fill='%23844312' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23874413' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%238a4613' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%238c4713' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%238f4813' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23924914' x='70' width='11' height='11'/%3E%3Crect fill='%23944a14' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23974c14' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%239a4d15' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%239d4e15' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%239f4f15' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23a25016' x='80' width='11' height='11'/%3E%3Crect fill='%23a55216' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23a85316' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ab5417' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ad5517' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23b05617' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23b35818' x='90' width='11' height='11'/%3E%3Crect fill='%23b65918' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23b95a18' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23bc5b19' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23be5d19' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23c15e19' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23c45f1a' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23c7601a' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ca611b' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23cd631b' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23d0641c' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23d3651c' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23d6661c' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23d9681d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23dc691d' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23df6a1e' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23e26b1e' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23e56c1f' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23e86e1f' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eb6f20' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EE7020' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.paperbluex{
  background-color: #0E1543;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%230E1543' width='11' height='11'/%3E%3Crect fill='%230f1644' x='10' width='11' height='11'/%3E%3Crect fill='%23101746' y='10' width='11' height='11'/%3E%3Crect fill='%23101747' x='20' width='11' height='11'/%3E%3Crect fill='%23111849' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%2312194a' y='20' width='11' height='11'/%3E%3Crect fill='%23131a4c' x='30' width='11' height='11'/%3E%3Crect fill='%23141b4d' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23141c4f' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23151c50' y='30' width='11' height='11'/%3E%3Crect fill='%23161d52' x='40' width='11' height='11'/%3E%3Crect fill='%23171e53' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23181f54' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23182056' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23192157' y='40' width='11' height='11'/%3E%3Crect fill='%231a2259' x='50' width='11' height='11'/%3E%3Crect fill='%231b235a' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%231b235c' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%231c245d' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%231d255f' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%231e2660' y='50' width='11' height='11'/%3E%3Crect fill='%231f2762' x='60' width='11' height='11'/%3E%3Crect fill='%231f2864' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23202965' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23212a67' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23222b68' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23232b6a' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23232c6b' x='70' width='11' height='11'/%3E%3Crect fill='%23242d6d' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23252e6e' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23262f70' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23263072' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23273173' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23283275' x='80' width='11' height='11'/%3E%3Crect fill='%23293376' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%232a3478' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%232a3579' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%232b367b' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%232c377d' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%232d387e' x='90' width='11' height='11'/%3E%3Crect fill='%232d3880' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%232e3981' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%232f3a83' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23303b85' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23303c86' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23313d88' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23323e8a' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23333f8b' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2334408d' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2334418e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23354290' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23364392' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23374493' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23374595' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23384697' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23394798' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%233a489a' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%233a499c' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%233b4a9d' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%233C4B9F' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.paperblue{
  background-color: #173d69;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23173D69' width='11' height='11'/%3E%3Crect fill='%2317406b' x='10' width='11' height='11'/%3E%3Crect fill='%2317436e' y='10' width='11' height='11'/%3E%3Crect fill='%23174670' x='20' width='11' height='11'/%3E%3Crect fill='%23174a72' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23184d74' y='20' width='11' height='11'/%3E%3Crect fill='%23195076' x='30' width='11' height='11'/%3E%3Crect fill='%231b5378' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%231d567a' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%231f597c' y='30' width='11' height='11'/%3E%3Crect fill='%23215c7d' x='40' width='11' height='11'/%3E%3Crect fill='%23245f7f' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23276381' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%232a6682' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%232d6984' y='40' width='11' height='11'/%3E%3Crect fill='%23306c85' x='50' width='11' height='11'/%3E%3Crect fill='%23336f87' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23377289' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%233b758a' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%233e788c' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23427b8d' y='50' width='11' height='11'/%3E%3Crect fill='%23467e8f' x='60' width='11' height='11'/%3E%3Crect fill='%234a8190' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%234e8492' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23528793' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23568a95' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%235a8d96' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%235f9098' x='70' width='11' height='11'/%3E%3Crect fill='%23639399' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2367969b' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%236c999d' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23709c9e' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23749fa0' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2379a2a2' x='80' width='11' height='11'/%3E%3Crect fill='%237da5a4' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2382a7a6' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2386aaa8' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%238badaa' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%238fb0ac' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2394b3ae' x='90' width='11' height='11'/%3E%3Crect fill='%2399b6b0' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%239db9b2' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23a2bcb5' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23a6bfb7' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23abc1ba' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23afc4bd' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23b4c7bf' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23b8cac2' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23bdcdc5' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23c1d0c8' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23c5d3cb' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23cad6ce' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ced9d1' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23d2dcd5' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23d7dfd8' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23dbe2db' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23dfe5df' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23e3e8e3' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23e7ebe6' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EBEEEA' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.paperwhite{
  background-color: #C7C1CA;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23C7C1CA' width='11' height='11'/%3E%3Crect fill='%23c8c2cb' x='10' width='11' height='11'/%3E%3Crect fill='%23c8c2cb' y='10' width='11' height='11'/%3E%3Crect fill='%23c9c3cc' x='20' width='11' height='11'/%3E%3Crect fill='%23cac4cc' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cac5cd' y='20' width='11' height='11'/%3E%3Crect fill='%23cbc5ce' x='30' width='11' height='11'/%3E%3Crect fill='%23ccc6ce' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23ccc7cf' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23cdc8cf' y='30' width='11' height='11'/%3E%3Crect fill='%23cec9d0' x='40' width='11' height='11'/%3E%3Crect fill='%23cec9d1' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23cfcad1' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23cfcbd2' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d0ccd2' y='40' width='11' height='11'/%3E%3Crect fill='%23d1ccd3' x='50' width='11' height='11'/%3E%3Crect fill='%23d1cdd4' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d2ced4' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d3cfd5' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23d3cfd5' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d4d0d6' y='50' width='11' height='11'/%3E%3Crect fill='%23d5d1d7' x='60' width='11' height='11'/%3E%3Crect fill='%23d5d2d7' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23d6d2d8' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23d7d3d9' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23d7d4d9' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23d8d5da' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23d9d5da' x='70' width='11' height='11'/%3E%3Crect fill='%23d9d6db' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23dad7dc' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23dbd8dc' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23dbd8dd' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23dcd9dd' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23dddade' x='80' width='11' height='11'/%3E%3Crect fill='%23dddbdf' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23dedbdf' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23dfdce0' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23dfdde0' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23e0dee1' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23e1dfe2' x='90' width='11' height='11'/%3E%3Crect fill='%23e1dfe2' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23e2e0e3' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23e3e1e4' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23e3e2e4' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23e4e2e5' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e5e3e5' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e5e4e6' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e6e5e7' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e7e5e7' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e7e6e8' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e8e7e8' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e9e8e9' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e9e9ea' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23eae9ea' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ebeaeb' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ebebec' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ececec' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23edeced' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ededed' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEEEEE' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.paper{
  background-color: #7C2D12;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%237C2D12' width='11' height='11'/%3E%3Crect fill='%237d2e12' x='10' width='11' height='11'/%3E%3Crect fill='%237e2e12' y='10' width='11' height='11'/%3E%3Crect fill='%237f2f12' x='20' width='11' height='11'/%3E%3Crect fill='%23802f12' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23813012' y='20' width='11' height='11'/%3E%3Crect fill='%23823012' x='30' width='11' height='11'/%3E%3Crect fill='%23833112' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23843212' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23853212' y='30' width='11' height='11'/%3E%3Crect fill='%23863312' x='40' width='11' height='11'/%3E%3Crect fill='%23873312' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23883412' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23893512' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%238a3512' y='40' width='11' height='11'/%3E%3Crect fill='%238b3612' x='50' width='11' height='11'/%3E%3Crect fill='%238c3612' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%238d3712' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%238d3812' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%238e3812' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%238f3912' y='50' width='11' height='11'/%3E%3Crect fill='%23903a11' x='60' width='11' height='11'/%3E%3Crect fill='%23913a11' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23923b11' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23933b11' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23943c11' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23953d11' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23963d11' x='70' width='11' height='11'/%3E%3Crect fill='%23973e11' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23983f11' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23993f11' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%239a4010' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%239b4110' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%239c4110' x='80' width='11' height='11'/%3E%3Crect fill='%239d4210' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%239e4310' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%239f4310' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23a0440f' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23a1440f' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23a1450f' x='90' width='11' height='11'/%3E%3Crect fill='%23a2460f' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23a3470f' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23a4470e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23a5480e' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23a6490e' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23a7490e' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23a84a0e' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23a94b0d' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23aa4b0d' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ab4c0d' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ac4d0c' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ad4d0c' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ae4e0c' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23af4f0b' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23af4f0b' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23b0500b' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23b1510a' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23b2520a' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23b35209' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23B45309' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.grid2{
background-color: #92400E;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%2392400E' width='11' height='11'/%3E%3Crect fill='%2393410e' x='10' width='11' height='11'/%3E%3Crect fill='%2394420e' y='10' width='11' height='11'/%3E%3Crect fill='%2396430e' x='20' width='11' height='11'/%3E%3Crect fill='%2397430e' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%2398440e' y='20' width='11' height='11'/%3E%3Crect fill='%2399450e' x='30' width='11' height='11'/%3E%3Crect fill='%239b460e' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%239c470e' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%239d480e' y='30' width='11' height='11'/%3E%3Crect fill='%239e490e' x='40' width='11' height='11'/%3E%3Crect fill='%23a0490e' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23a14a0e' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23a24b0e' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23a34c0e' y='40' width='11' height='11'/%3E%3Crect fill='%23a44d0e' x='50' width='11' height='11'/%3E%3Crect fill='%23a64e0e' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23a74f0e' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23a8500e' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23a9510e' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23aa520e' y='50' width='11' height='11'/%3E%3Crect fill='%23ac520e' x='60' width='11' height='11'/%3E%3Crect fill='%23ad530e' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23ae540e' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23af550e' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23b1560e' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23b2570e' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23b3580e' x='70' width='11' height='11'/%3E%3Crect fill='%23b4590e' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23b55a0e' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23b75b0d' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23b85c0d' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23b95d0d' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23ba5e0d' x='80' width='11' height='11'/%3E%3Crect fill='%23bb5e0d' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23bd5f0d' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23be600d' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23bf610c' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23c0620c' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23c1630c' x='90' width='11' height='11'/%3E%3Crect fill='%23c3640c' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23c4650c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23c5660c' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23c6670b' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23c7680b' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23c9690b' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ca6a0b' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23cb6b0a' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23cc6c0a' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23cd6d0a' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ce6e09' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23d06f09' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23d17009' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23d27108' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23d37208' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23d47308' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23d67407' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23d77507' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23d87606' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23D97706' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.metal{
  background-image: url('../images/brushed-alum.png');
}



.grid{
  background-image: url('../images/graphy-dark.png');
}

#timeinput::placeholder{
  
    color: #060606;
    opacity: 0.5;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.conic{
  background-image: repeating-conic-gradient(#010101 0% 25%, #d8d7d7 0% 50%);
background-position: 0 0, 100px 100px;
background-size: 200px 200px;
background-color: #ffffff;
}

.innershadow2{
  box-shadow: -9px 9px 11px 0px rgba(0,0,0,0.26) inset;
  -webkit-box-shadow: -9px 9px 11px 0px rgba(0,0,0,0.26) inset;
  -moz-box-shadow: -9px 9px 11px 0px rgba(0,0,0,0.26) inset;
}

.innershadow{
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75) inset;
-webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75) inset;
}

.silver{
  background: -moz-linear-gradient(-45deg, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
}

.graph{
  background-image: url('../images/beige-paper.png');
  opacity: 50;
}

.rhombusx{
  background-color: #78350f;
  opacity: 0.8;
  background-image: radial-gradient(#f59e0b 0.2px, #78350f 0.2px);
  background-size: 4px 4px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.rhombus{
  background-color: #353cc0;
  opacity: 0.7;
  /* mix-blend-mode:difference; */
  background-image:  repeating-linear-gradient(45deg, #92400e 25%, transparent 25%, transparent 75%, #92400e 75%, #92400e), repeating-linear-gradient(45deg, #92400e 25%, #2e1507  25%, #2e1507 75%, #92400e 75%, #92400e);
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px;
}

.dot{
  background: radial-gradient(circle, transparent 20%, #00000000 20%, #3c202000 80%, transparent 80%, transparent) 0% 0% / 22px 22px, radial-gradient(circle, transparent 20%, #00000000 20%, #00000000 80%, transparent 80%, transparent) 11px 11px / 22px 22px, linear-gradient(#ffffff 1.5px, transparent 1.5px) 0px -0.75px / 11px 11px, linear-gradient(90deg, #ffffff 1.5px, #00000000 1.5px) -0.75px 0px / 11px 11px #00000000;
background-color: #00000000;
}

.vortex{
  /* background: rgb(146,64,14);
 background: radial-gradient(circle, rgba(146,64,14,1) 2%, rgba(220,98,22,1) 9%, rgba(231,126,47,1) 31%, rgba(247,216,193,1) 45%, rgba(239,231,225,1) 52%, rgba(232,201,179,1) 58%, rgba(155,133,118,1) 67%, rgba(0,0,0,1) 86%, rgba(146,64,14,1) 97%);  */
 
 
 background: rgb(231,79,47);
 background: linear-gradient(90deg, rgba(231,79,47,1) 7%, rgba(231,126,47,1) 14%, rgba(233,137,64,1) 17%, rgba(240,176,128,1) 28%, rgba(247,216,193,1) 41%, rgba(239,231,225,1) 52%, rgba(233,220,211,1) 60%, rgba(195,186,180,1) 73%, #3C3744 98%); 
 
 /* 
   background: rgb(218,94,18);
   background: linear-gradient(90deg, rgba(218,94,18,1) 2%, rgba(231,126,47,1) 31%, rgba(247,216,193,1) 45%, rgba(239,231,225,1) 52%, rgba(232,201,179,1) 58%, rgba(155,133,118,1) 67%, rgba(0,0,0,1) 86%);  */
 }
 



.MuiSelect-select{
  border: none;
}

.textShadow {
  text-shadow: 7px 7px 5px #1f1814b4;
}

.textShadow2 {
  text-shadow: 4px 4px 2px #1f1814b4;
}

.textShadow3 {
  text-shadow: 0px 5px 4px #1f1814b4;
}

.textShadow4{
  text-shadow: -1px 9px 4px #1f1814b4;
}

.curvedBorder{
  border-radius: 45% 46% 44% 46% / 44% 42% 50% 47%;
}

.innershadow3{
  box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.56) inset;
  -webkit-box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.56) inset;
  -moz-box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.56) inset;
}

.shadow{

  box-shadow: 10px 10px 11px 1px rgba(20, 2, 2, 0.773);
-webkit-box-shadow: 10px 10px 11px 1px rgba(20, 2, 2, 0.734);
-moz-box-shadow: 10px 10px 11px 1px rgb(46, 8, 8);

  /* box-shadow: 10px 10px 5px 0px rgba(20,2,2,0.55);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(20,2,2,0.55);
  -moz-box-shadow: 10px 10px 5px 0px rgba(20,2,2,0.55); */

  /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
}

.choc{
  /* background-color: #92400e;
  opacity: 1;
  background-image:  linear-gradient(30deg, #b2b1ad 12%, transparent 12.5%, transparent 87%, #b2b1ad 87.5%, #b2b1ad), linear-gradient(150deg, #b2b1ad 12%, transparent 12.5%, transparent 87%, #b2b1ad 87.5%, #b2b1ad), linear-gradient(30deg, #b2b1ad 12%, transparent 12.5%, transparent 87%, #b2b1ad 87.5%, #b2b1ad), linear-gradient(150deg, #b2b1ad 12%, transparent 12.5%, transparent 87%, #b2b1ad 87.5%, #b2b1ad), linear-gradient(60deg, #b2b1ad77 25%, transparent 25.5%, transparent 75%, #b2b1ad77 75%, #b2b1ad77), linear-gradient(60deg, #b2b1ad77 25%, transparent 25.5%, transparent 75%, #b2b1ad77 75%, #b2b1ad77);
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px; */
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
