
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .container{

  background-color: #141414;
background-image: radial-gradient(at 49% 41%, rgb(49, 51, 46) 0, hsla(26, 91%, 60%, 0) 50%),
radial-gradient(at 6% 14%, rgb(12, 14, 12) 0, hsla(38, 91%, 56%, 0) 50%),
radial-gradient(at 29% 24%, rgb(42, 44, 43) 0, hsla(40, 86%, 67%, 0) 50%),
radial-gradient(at 91% 25%, rgb(20, 22, 21) 0, hsla(13, 88%, 62%, 0) 50%),
radial-gradient(at 27% 95%, rgb(54, 66, 62) 0, hsla(28, 85%, 61%, 0) 50%),
radial-gradient(at 57% 78%, rgb(25, 28, 24) 0, hsla(160, 86%, 60%, 0) 50%),
radial-gradient(at 51% 71%, rgb(25, 25, 23) 0, hsla(75, 86%, 70%, 0) 50%);
} */

.react-calendar {
  width: 350px;
  max-width: 100%;
  /* background: rgb(69, 192, 106); */
  /* border: 1px solid #ffffff; */
  /* font-family: Arial, Helvetica, sans-serif; */
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d18100;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #c3e4ff; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #eae2ff;  
  --gradient-color-4: #b9beff;
}
      


@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=DotGothic16&family=Geostar&family=Geostar+Fill&family=Goldman:wght@400;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,600;0,700;1,100;1,200;1,400;1,500&family=Keania+One&family=Monofett&display=swap');

@font-face {
  font-family: "UPHEAVAl";
  src: url('../public/fonts/upheaval/upheavtt.ttf');
}

@font-face {
  font-family: 'DOGICA';
  src: url('../public/fonts/dogica/dogica.ttf');
}

@font-face {
  font-family: 'KIRBYS';
  src: url('../public/fonts/kirbys/Kirbys.ttf');
} 

@font-face {
  font-family: 'ALDO';
  src: url('../public/fonts/aldo/Aldo\ PC.ttf');
}
@font-face {
  font-family: 'AQUA';
  src: url('../public/fonts/aquarilla/Aquarilla.ttf');
}

@font-face {
  font-family: 'JAP';
  src: url('../public/fonts/javanese/Javanese\ Neu.ttf');
}

@font-face {
  font-family: 'CUA';
  src: url('../public/fonts/cuatra/Cuatra-Light.ttf');
}

@font-face {
  font-family: 'CAP';
  src: url('../public/fonts/capicola_sansish/CapicolaSansish.ttf');
}

@font-face {
  font-family: 'PLA';
  src: url('../public/fonts/plagiata/Plagiata.otf');
}

@font-face {
  font-family: 'NEM';
  src: url('../public/fonts/nemesia/Nemesia-regular.ttf');
}

@font-face {
  font-family: 'NIN';
  src: url('../public/fonts/Louis/Louis\ George\ Cafe.ttf');
}

@font-face {
  font-family: 'ROBOT';
  src: url('../public/fonts/reoboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'OBO';
  src: url('../public/fonts/oboto/MADEOkineSansPERSONALUSE-Light.otf');
}

@font-face {
  font-family: 'OBO-B';
  src: url('../public/fonts/oboto/MADEOkineSansPERSONALUSE-Medium.otf');
}

@font-face {
  font-family: 'OBO-L';
  src: url('../public/fonts/oboto/MADEOkineSansPERSONALUSE-Thin.otf');
}

@font-face {
  font-family: 'OBO-X';
  src: url('../public/fonts/oboto/MADEOkineSansPERSONALUSE-Bold.otf');
}

@font-face {
  font-family: 'OBO-N';
  src: url('../public/fonts/N2/n27-regular-webfont.woff');
}

@font-face {
  font-family: 'CHA';
  src: url('../public/fonts/valcon/Vollkorn-Bold.ttf');
}
@font-face {
  font-family: 'LEMON';
  src: url('../public/fonts/lemon/LemonMilkLight-owxMq.otf');
}

.nylon{
  background-image: url('../images/nylon.png');
}

.nylon2{
  background-image: url('../images/nylon.png');
  opacity: '50%';
}

.borderx{
  border-radius: 48% 45% 45% 47% / 45% 45% 50% 51%;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}

body {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: rgb(184, 184, 184) #92400e;   /* scroll thumb and track */ 
}

.polka{
  background-color: #e5e5f700;
  opacity: 0.8;
  background-image:  radial-gradient(#9c5937 3px, transparent 1.5px), radial-gradient(#9c5937 3px, #e5e5f700 1.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

.polkachild {
  opacity: 1;
}


/* 
@font-face {
  font-family: 'OBO-T';
  src: url('../public/fonts/oboto/');
} */

.next{
  background-image: url('../images/transparent-square-tiles.png');
  /* background-color: #006edc; */
}

.eggshell{
  background-image: url('../images/shattered-dark.png');
}

.noise{
  background-image: url('../images/noise-lines.png')
}

.grid{
  background-image: url('../images/transparent-square-tiles.png');
}

.conic{
  background-image: repeating-conic-gradient(#010101 0% 25%, #d8d7d7 0% 50%);
background-position: 0 0, 100px 100px;
background-size: 200px 200px;
background-color: #ffffff;
}

.innershadow{
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75) inset;
-webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75) inset;
}

.rhombusx{
  background-color: #f9f9f9;
  opacity: 0.8;
  background-image:  linear-gradient(135deg, #9bb3e1 25%, transparent 25%), linear-gradient(225deg, #9bb3e1 25%, transparent 25%), linear-gradient(45deg, #9bb3e1 25%, transparent 25%), linear-gradient(315deg, #9bb3e1 25%, #f9f9f9 25%);
  background-position:  4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.rhombus{
  background-color: #090701;
  opacity: 0.8;
  background-image:  repeating-linear-gradient(45deg, #92400e 25%, transparent 25%, transparent 75%, #92400e 75%, #92400e), repeating-linear-gradient(45deg, #92400e 25%, #090701 25%, #090701 75%, #92400e 75%, #92400e);
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px;
}

.dot{
  background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 0% 0% / 22px 22px, radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 11px 11px / 22px 22px, linear-gradient(#ffffff 1.5px, transparent 1.5px) 0px -0.75px / 11px 11px, linear-gradient(90deg, #ffffff 1.5px, #000000 1.5px) -0.75px 0px / 11px 11px #000000;
background-color: #000000;
}

.vortex{
 /* background: rgb(146,64,14);
background: radial-gradient(circle, rgba(146,64,14,1) 2%, rgba(220,98,22,1) 9%, rgba(231,126,47,1) 31%, rgba(247,216,193,1) 45%, rgba(239,231,225,1) 52%, rgba(232,201,179,1) 58%, rgba(155,133,118,1) 67%, rgba(0,0,0,1) 86%, rgba(146,64,14,1) 97%);  */


  background: rgb(218,94,18);
  background: linear-gradient(90deg, rgba(218,94,18,1) 2%, rgba(231,126,47,1) 31%, rgba(247,216,193,1) 45%, rgba(239,231,225,1) 52%, rgba(232,201,179,1) 58%, rgba(155,133,118,1) 67%, rgba(0,0,0,1) 86%); 
}

.MuiSelect-select{
  border: none;
}

.choc{
  /* background-color: #92400e;
  opacity: 1;
  background-image:  linear-gradient(30deg, #b2b1ad 12%, transparent 12.5%, transparent 87%, #b2b1ad 87.5%, #b2b1ad), linear-gradient(150deg, #b2b1ad 12%, transparent 12.5%, transparent 87%, #b2b1ad 87.5%, #b2b1ad), linear-gradient(30deg, #b2b1ad 12%, transparent 12.5%, transparent 87%, #b2b1ad 87.5%, #b2b1ad), linear-gradient(150deg, #b2b1ad 12%, transparent 12.5%, transparent 87%, #b2b1ad 87.5%, #b2b1ad), linear-gradient(60deg, #b2b1ad77 25%, transparent 25.5%, transparent 75%, #b2b1ad77 75%, #b2b1ad77), linear-gradient(60deg, #b2b1ad77 25%, transparent 25.5%, transparent 75%, #b2b1ad77 75%, #b2b1ad77);
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px; */
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
